@use 'sass:math';
@use '@/assets/scss/abstracts';

$btn-line-height: math.div(24, 14) !default;
$btn-line-height-sm: math.div(7, 9) * $btn-line-height !default;
$btn-line-height-lg: math.div(13, 12) * $btn-line-height !default;

$btn-padding-y: 0.625rem !default;
$btn-padding-x: 1.5rem !default;
$btn-font-size: abstracts.$font-size-base !default;

$btn-padding-y-sm: 0.7rem !default;
$btn-padding-x-sm: 1.1rem !default;
$btn-font-size-sm: abstracts.$font-size-sm !default;

$btn-padding-y-lg: 1.9rem !default;
$btn-padding-x-lg: 1.4rem !default;
$btn-font-size-lg: abstracts.$font-size-lg !default;

$btn-font-weight: 500 !default;
$btn-font-weight-sm: $btn-font-weight !default;
$btn-font-weight-lg: $btn-font-weight !default;

$btn-border-radius: abstracts.$border-radius !default;
$btn-border-radius-sm: abstracts.$border-radius-sm !default;
$btn-border-radius-lg: abstracts.$border-radius-sm !default;

$btn-colors: (
  primary: abstracts.$white,
  secondary: abstracts.$white,
  success: abstracts.$white,
  danger: abstracts.$white,
  warning: abstracts.$white,
  info: abstracts.$white,
  light: abstracts.$white,
  dark: abstracts.$white
) !default;
