@use '../../assets/scss/abstracts/_variables.scss';

.j-breadcrumb {
  margin-bottom: 10px;
  background: transparent;
  box-shadow: none;

  ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &_separator {
    display: inline-block;
    margin: 0 5px;
    color: variables.$black;
  }

  &_item {
    display: inline-block;

    >*:not(.j-breadcrumb_separator) {
      color: variables.$black;
      text-decoration: none;
    }

    &:last-child {
      >*:not(.j-breadcrumb_separator) {
        color: variables.$black;
      }
    }
  }
}